html, body {
  height: 100%; }

body {
  background: linear-gradient(135deg, #002e3a, #017796);
  background-size: cover;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 80%;
  overflow: hidden; }

body::after {
  content: url("../images/logo_1.png");
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 20%; }

div,
section,
li {
  box-sizing: border-box; }

#chat {
  height: 98%;
  width: 90%;
  display: none;
  position: absolute;
  left: 1%;
  top: 1%; }
  #chat__allMessages {
    width: 40%;
    height: 95%;
    list-style: none;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
    #chat__allMessages:hover {
      border-color: #FFFFFF; }
    #chat__allMessages li {
      padding: 10px;
      margin: 10px;
      border: 1px solid #7B760F;
      color: #FFFFFF;
      vertical-align: bottom; }
      #chat__allMessages li:hover {
        border-color: #FFFFFF; }
    #chat__allMessages .chat__messageUser {
      color: #72D0F3;
      cursor: pointer; }
  #chat__form {
    margin: 10px; }

#chat__users,
#offline__users {
  height: 100%;
  width: 20%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -25%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold; }
  #chat__users [data-userRole="user"],
  #offline__users [data-userRole="user"] {
    color: #FFFFFF; }
  #chat__users [data-userRole="admin"],
  #offline__users [data-userRole="admin"] {
    color: #72D0F3; }
  #chat__users [data-userRole="sys"],
  #offline__users [data-userRole="sys"] {
    color: #7B760F; }
  #chat__users [data-userRole="owner"],
  #offline__users [data-userRole="owner"] {
    color: #09D391; }
  #chat__users ul,
  #offline__users ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right; }
  #chat__users li,
  #offline__users li {
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px; }

#weather {
  position: absolute;
  display: none;
  right: 6%;
  height: 93%;
  width: 750px;
  border: none;
  overflow: hidden; }
  #weather__info {
    height: 100%;
    width: 100%;
    margin-top: -72px;
    border: none; }

#tools {
  position: fixed;
  display: none;
  height: 100%;
  width: 5%;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }
  #tools:hover {
    border-left: 1px solid #FFFFFF; }
  #tools .tools__item {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    font-size: 120%;
    height: auto;
    cursor: pointer;
    text-align: center; }
    #tools .tools__item:hover {
      background-color: #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
      border-top: 1px solid #FFFFFF;
      color: rgba(0, 0, 0, 0.5); }
    #tools .tools__item .fa {
      margin: 10px; }
  #tools__signOut {
    position: absolute;
    bottom: 0; }

#login {
  width: 20%;
  height: 230px;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  bottom: 0;
  margin: 0 auto;
  padding-top: 20px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5); }
  #login:hover, #login:focus {
    border: 1px solid #FFFFFF; }
  #login__form {
    position: relative;
    margin: 10px;
    text-align: center; }
  #login input {
    padding: 8px;
    display: block;
    margin: 10px auto;
    width: 64%;
    max-width: 150px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    color: #000000; }
  #login button {
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    width: 40%;
    max-width: 100px;
    padding: 5px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    color: #000000; }
  #login #register__submit {
    display: none; }
  #login__error {
    font-weight: bold;
    height: auto;
    margin-top: 20px;
    color: #F60E13; }

.fileTransfer__text {
  display: inline-block;
  height: 100px;
  width: 75px;
  background-image: url("../images/textType.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
