//          --/BORDERS/--         //
$border-Default: 1px solid $color-Olivetone;
$border-White: 1px solid $color-White;
$border-Transparent: 1px solid $color-Transparent;
$border-TransparentWhite: 1px solid $color-TransparentWhite;