//          --/COLORS/--          //
$color-Black: #000000;
$color-White: #FFFFFF;
$color-Red: #F60E13;
$color-Gray: #808080;
$color-Transparent: rgba(0, 0, 0, 0);
$color-TransparentBlack: rgba(0, 0, 0, 0.5);
$color-TransparentWhite: rgba(255, 255, 255, 0.5);
//          --/COLORS/--          //
$color-WineBerry: #4B1B3B;
$color-Olivetone: #7B760F;
$color-HeavyMetal: #282A28;
$color-Lima: #37C91D;
$color-CaribbeanGreen: #09D391;
$color-Malibu: #72D0F3;