//          --/COLORS/--          //
$color-Black: #000000;
$color-White: #FFFFFF;
$color-Red: #F60E13;
$color-Gray: #808080;
$color-Transparent: rgba(0, 0, 0, 0);
$color-TransparentBlack: rgba(0, 0, 0, 0.5);
$color-TransparentBlack5: rgba(0, 0, 0, 0.5);
$color-TransparentBlack6: rgba(0, 0, 0, 0.6);
$color-TransparentBlack7: rgba(0, 0, 0, 0.7);
$color-TransparentBlack8: rgba(0, 0, 0, 0.8);
$color-TransparentBlack9: rgba(0, 0, 0, 0.9);
$color-TransparentWhite: rgba(255, 255, 255, 0.5);
$color-TransparentWhite6: rgba(255, 255, 255, 0.6);
$color-TransparentWhite7: rgba(255, 255, 255, 0.7);
$color-TransparentWhite8: rgba(255, 255, 255, 0.8);
$color-TransparentWhite9: rgba(255, 255, 255, 0.9);
//          --/COLORS/--          //
$color-WineBerry: #4B1B3B;
$color-Olivetone: #7B760F;
$color-HeavyMetal: #282A28;
$color-Lima: #37C91D;
$color-CaribbeanGreen: #09D391;
$color-Malibu: #72D0F3;
$color-BottleGreen:  #08352E;