//          --/COLORS/--          //
$color-Black: #000000;
$color-White: #FFFFFF;
$color-Red: #F60E13;
$color-Gray: #808080;
$color-Transparent: rgba(0, 0, 0, 0);
$color-TransparentBlack: rgba(0, 0, 0, 0.2);
$color-TransparentWhite: rgba(255, 255, 255, 0.5);
//          --/COLORS/--          //
$color-WineBerry: #4B1B3B;
$color-Olivetone: #7B760F;
$color-HeavyMetal: #282A28;
$color-Lima: #37C91D;
$color-CaribbeanGreen: #09D391;
$color-Malibu: #72D0F3;
//          --/BORDERS/--         //
$border-Default: 1px solid $color-Olivetone;
$border-White: 1px solid $color-White;
$border-Transparent: 1px solid $color-Transparent;
$border-TransparentWhite: 1px solid $color-TransparentWhite;
//           --/FONTS/--          //
$font-xs: 8px; //extra-small
$font-sm: 12px; //small
$font-nm: 16px; //normal
$font-lg: 22px; //large
$font-xl: 32px; //extra-large
body {
    background: linear-gradient(135deg, #002e3a, #017796);
    background-size: cover;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 80%;
    overflow: hidden;
}

div,
section,
li {
    box-sizing: border-box;
}

#chat {
    height: 98%;
    width: 90%;
    display: none;
    position: absolute;
    left: 1%;
    top: 1%;
    &__allMessages {
        width: 40%;
        height: 95%;
        list-style: none;
        overflow-y: auto;
        margin: 0;
        padding: 0;
        border: $border-TransparentWhite;
        background-color: $color-TransparentBlack;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        -ms-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
        &:hover {
            border-color: $color-White;
        }
        li {
            padding: 10px;
            margin: 10px;
            border: $border-Default;
            color: $color-White;
            vertical-align: bottom;
            &:hover {
                border-color: $color-White;
            }
        }
        .chat__messageUser {
            color: $color-Malibu;
            cursor: pointer;
        }
    }
    &__form {
        margin: 10px;
    }
    &__submit {
        //
    }
}

#chat__users,
#offline__users {
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -25%;
    background-color: $color-TransparentBlack;
    color: $color-White;
    font-size: 18px;
    font-weight: bold;
    [data-userRole="user"] {
        color: $color-White;
    }
    [data-userRole="admin"] {
        color: $color-Malibu;
    }
    [data-userRole="sys"] {
        color: $color-WineBerry;
    }
    [data-userRole="owner"] {
        color: $color-CaribbeanGreen;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing: border-box;
        border: 0.5px solid $color-TransparentWhite;
        width: auto;
        height: auto;
        text-align: center;
        padding: 10px;
        &:hover {
            //border: $border-Transparent;
        }
    }
}

#tools {
    position: fixed;
    display: none;
    height: 100%;
    width: 5%;
    right: 0;
    top: 0;
    background-color: $color-TransparentBlack;
    border-left: $border-TransparentWhite;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    &:hover {
        border-left: $border-White;
    }
    .tools__item {
        border-bottom: $border-Transparent;
        border-top: $border-Transparent;
        color: $color-TransparentWhite;
        width: 100%;
        font-size: 120%;
        height: auto;
        cursor: pointer;
        text-align: center;
        &:hover {
            border-bottom: $border-White;
            border-top: $border-White;
            color: $color-White;
        }
        .fa {
            margin: 10px;
        }
    }
    &__signOut {
        position: absolute;
        bottom: 0;
    }
}

#login {
    width: 20%;
    height: 230px;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    bottom: 0;
    margin: 0 auto;
    padding-top: 20px;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    border: $border-TransparentWhite;
    background-color: $color-TransparentBlack;
    &:hover,
    &:focus {
        border: $border-White;
    }
    &__form {
        position: relative;
        margin: 10px;
        text-align: center;
    }
    input {
        padding: 8px;
        display: block;
        margin: 10px auto;
        width: 64%;
        max-width: 150px;
        background-color: $color-White;
        border: none;
        outline: none;
        color: $color-Black;
    }
    button {
        display: inline-block;
        margin: 0 auto;
        margin-top: 30px;
        cursor: pointer;
        width: 40%;
        max-width: 100px;
        padding: 5px;
        background-color: $color-White;
        border: none;
        outline: none;
        color: $color-Black;
    }
    #register__submit {
        display: none;
    }
    &__error {
        font-weight: bold;
        height: auto;
        margin-top: 20px;
        color: $color-Red;
    }
}

.fileTransfer {
    &__text {
        display: inline-block;
        height: 100px;
        width: 75px;
        background-image: url("../images/textType.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}