//          --/IMPORTS/--         //
@import "colors.scss";
@import "fonts.scss";
@import "borders.scss";
@import "customScrollbar.scss";
//
html,
body {
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(135deg, #593653, #188953);
    background-size: cover;
    font-family: 'Nunito Sans', sans-serif;
    overflow: hidden;
}

body::after {
    content: "";
    background-image: url('../../images/logo_5.png');
    background-repeat: no-repeat;
    background-size: 300px auto;
    background-position: center 35%;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 20%;
}

div,
section,
li {
    box-sizing: border-box;
}

input::-webkit-input-placeholder {
    color: $color-TransparentWhite;
    font-style: italic;
}

input:-moz-placeholder {
    color: $color-TransparentWhite;
    font-style: italic;
}

input::-moz-placeholder {
    color: $color-TransparentWhite;
    font-style: italic;
}

input:-ms-input-placeholder {
    color: $color-TransparentWhite;
    font-style: italic;
}

input::-ms-input-placeholder {
    color: $color-TransparentWhite;
    font-style: italic;
}

#chat {
    height: 98%;
    width: 85%;
    max-width: 400px;
    display: none;
    position: absolute;
    left: 1%;
    top: 1%;
    background-color: $color-TransparentBlack5;
    &:hover {
        .closeWindow {
            display: block;
        }
    }
    &__allMessages {
        width: 100%;
        height: 90%;
        list-style: none;
        overflow-y: hidden;
        margin: 0;
        padding: 0; //border: $border-TransparentWhite;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        -ms-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
        &:hover {
            border-color: $color-White;
            overflow-y: auto;
            li {
                width: 98.475%;
            }
        }
        li {
            position: relative;
            padding: 5px 15px 15px 15px;
            margin: 4px;
            min-height: 70px;
            width: 97%;
            background-color: #082C31; //border: $border-Default;
            font-size: 14px;
            color: $color-White;
            vertical-align: bottom;
            &:hover {
                border-color: $color-White;
            }
            .chat__messageUser,
            .chat__message {
                -ms-word-break: break-all;
                word-break: break-all;
                word-break: break-word;
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                hyphens: auto;
            }
            .chat__messageUser {
                color: $color-White;
            }
            .chat__message {
                color: $color-White;
            }
            .chat__messageDate {
                position: absolute;
                top: 25px;
                right: 5px;
                float: right;
                font-size: 12px;
            }
            .fileTransfer__image,
            .fileTransfer__text {
                display: block;
                margin: 5px auto;
            }
            .fileTransfer__image {
                text-align: center;
            }
        }
        .chat__messageUser {
            font-size: $font-nm;
            font-weight: bold;
            color: black;
            cursor: pointer;
        }
    }
    &__form {
        margin: 0;
    }
    &__userInput {
        border: none;
        margin: 25px 10px 0 15px;
        padding: 5px;
        border-bottom: 1px solid $color-White;
        background-color: transparent;
        outline: none;
        color: white;
        width: 80%;
    }
    &__submitPlaceholder {
        color: $color-White;
        font-size: 20px;
        cursor: pointer;
    }
}

#chat__users,
#offline__users {
    height: 100%;
    width: 350px;
    position: absolute;
    z-index: 4;
    top: 0;
    bottom: 0;
    right: -350px;
    background-color: $color-TransparentBlack;
    color: $color-White;
    font-size: 18px;
    font-weight: bold;
    [data-userRole="user"] {
        color: $color-White;
    }
    [data-userRole="admin"] {
        color: $color-Malibu;
    }
    [data-userRole="sys"] {
        color: $color-Olivetone;
    }
    [data-userRole="owner"] {
        color: $color-CaribbeanGreen;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: justify;
    }
    li {
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing: border-box;
        border: 0.5px solid $color-TransparentWhite;
        width: auto;
        height: auto;
        text-align: center;
        padding: 15px;
    }
}

#streaming {
    height: 100%;
    width: 350px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -350px;
    background-color: $color-TransparentBlack;
    color: $color-White;
    font-size: 18px;
    font-weight: bold;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: right;
    }
    li {
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing: border-box;
        border: 0.5px solid $color-TransparentWhite;
        width: 100%;
        height: auto;
        text-align: center;
        padding: 10px;
        audio {
            width: 100%;
        }
    }
}

#playground__gamesList {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -350px;
    height: 100%;
    width: 350px;
    background-color: $color-TransparentBlack;
    color: $color-White;
    font-size: 18px;
    font-weight: bold;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    li {
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing: border-box;
        border: 0.5px solid $color-TransparentWhite;
        width: 100%;
        height: 100px;
        text-align: center;
        padding: 40px 10px 10px 10px;
        background-color: $color-TransparentWhite6;
        &:hover {
            background-color: $color-TransparentWhite8;
        }
    }
    #trigger__ticTacToe {
        background-image: url("../../images/icon-tic-tac-toe.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

#playground__activitySpace {
    display: none;
    position: absolute;
    background-color: $color-TransparentBlack5;
    height: 98%;
    width: 64.5%;
    max-width: 1400px;
    top: 1%;
    right: 60px;
    color: $color-White;
    text-align: center;
    &:hover {
        .closeWindow {
            display: block;
        }
    }
    #playground__selectOpponent {
        display: block;
        margin: 0 auto;
        margin-top: 35%;
        padding: 10px;
        cursor: pointer;
        background-color: $color-TransparentWhite8;
        border: none;
        &:hover {
            background-color: $color-White;
        }
    }
    #playground__activityStatus {
        margin-top: 50px;
    }
}

#tools {
    position: fixed;
    display: none;
    height: 100%;
    width: 50px;
    right: 0;
    top: 0;
    font-size: 80%;
    background-color: $color-TransparentBlack;
    border-left: $border-TransparentWhite;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    &:hover {
        border-left: $border-White;
    }
    .tools__item {
        border-bottom: $border-Transparent;
        border-top: $border-Transparent;
        color: $color-TransparentWhite;
        width: 100%;
        font-size: 120%;
        height: auto;
        cursor: pointer;
        text-align: center;
        &:hover {
            background-color: $color-White;
            border-bottom: $border-White;
            border-top: $border-White;
            color: $color-TransparentBlack;
        }
        .fa {
            margin: 10px;
        }
    }
    &__signOut {
        position: absolute;
        bottom: 0;
    }
}

#login {
    width: 25%;
    max-width: 350px;
    height: 280px;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    bottom: 0;
    margin: 0 auto;
    padding-top: 20px;
    overflow: auto;
    background-color: $color-TransparentBlack;
    &__form {
        position: relative;
        margin: 10px;
        text-align: center;
    }
    input {
        padding: 12px;
        display: block;
        margin: 10px auto;
        width: 64%;
        border: none;
        outline: none;
        font-weight: bold;
        color: $color-Black;
        background-color: rgba(255, 255, 255, 0.7);
        &:focus {
            background-color: rgba(255, 255, 255, 0.9);
            color: $color-Black;
        }
    }
    button {
        display: inline-block;
        margin: 0 auto;
        margin-top: 30px;
        width: 64%;
        padding: 12px;
        border: none;
        outline: none;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.7);
        color: $color-TransparentBlack;
        cursor: pointer;
        &:hover,
        &:focus {
            background-color: rgba(255, 255, 255, 0.9);
            color: $color-Black;
        }
    }
    #register__submit {
        display: none;
    }
    &__error {
        font-weight: bold;
        height: auto;
        margin-top: 20px;
        color: $color-Red;
    }
}

.fileTransfer {
    &__text {
        display: inline-block;
        height: 100px;
        width: 75px;
        background-image: url("../../images/textType.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.closeWindow {
    position: absolute;
    display: none;
    right: 5px;
    top: 5px;
    z-index: 5;
    color: $color-White;
    cursor: pointer;
}