//          --/IMPORTS/--         //
@import "colors.scss";
@import "fonts.scss";
@import "borders.scss";


html,
body {
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(135deg, #002e3a, #017796);
    background-size: cover;
    font-family: 'Nunito Sans', sans-serif;
    overflow: hidden;
}

body::after {
    content: url('../../images/logo_1.png');
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 20%;
}

div,
section,
li {
    box-sizing: border-box;
}

#chat {
    height: 98%;
    width: 85%;
    max-width: 400px;
    display: none;
    position: absolute;
    left: 1%;
    top: 1%;
    &__allMessages {
        width: 100%;
        height: 95%;
        list-style: none;
        overflow-y: auto;
        margin: 0;
        padding: 0; //border: $border-TransparentWhite;
        background-color: $color-TransparentBlack;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        -ms-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
        &:hover {
            border-color: $color-White;
        }
        li {
            padding: 15px;
            margin: 4px;
            min-height: 70px;
            background-color: #082C31; //border: $border-Default;
            font-size: 14px;
            color: $color-White;
            vertical-align: bottom;
            &:hover {
                border-color: $color-White;
            }
            .chat__messageUser,
            .chat__message {
                word-break: break-all;
            }
            .chat__messageUser {
                color: $color-White;
            }
            .chat__message {
                color: $color-White;
            }
            .fileTransfer__image,
            .fileTransfer__text {
                display: block;
                margin: 5px auto;
            }
            .fileTransfer__image {
                text-align: center;
            }
        }
        .chat__messageUser {
            font-size: $font-nm;
            font-weight: bold;
            color: black;
            cursor: pointer;
        }
    }
    &__form {
        margin: 10px;
    }
    &__submit {
        //
    }
}

#chat__users,
#offline__users {
    height: 100%;
    width: 350px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -350px;
    background-color: $color-TransparentBlack;
    color: $color-White;
    font-size: 18px;
    font-weight: bold;
    [data-userRole="user"] {
        color: $color-White;
    }
    [data-userRole="admin"] {
        color: $color-Malibu;
    }
    [data-userRole="sys"] {
        color: $color-Olivetone;
    }
    [data-userRole="owner"] {
        color: $color-CaribbeanGreen;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: justify;
    }
    li {
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing: border-box;
        border: 0.5px solid $color-TransparentWhite;
        width: auto;
        height: auto;
        text-align: center;
        padding: 15px;
        &:hover {
            //border: $border-Transparent;
        }
    }
}

#streaming {
    height: 100%;
    width: 350px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -350px;
    background-color: $color-TransparentBlack;
    color: $color-White;
    font-size: 18px;
    font-weight: bold;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: right;
    }
    li {
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing: border-box;
        border: 0.5px solid $color-TransparentWhite;
        width: 100%;
        height: auto;
        text-align: center;
        padding: 10px;
        &:hover {
            //border: $border-Transparent;
        }
        audio {
            width: 100%;
        }
    }
}

#tools {
    position: fixed;
    display: none;
    height: 100%;
    width: 50px;
    right: 0;
    top: 0;
    font-size: 80%;
    background-color: $color-TransparentBlack;
    border-left: $border-TransparentWhite;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    &:hover {
        border-left: $border-White;
    }
    .tools__item {
        border-bottom: $border-Transparent;
        border-top: $border-Transparent;
        color: $color-TransparentWhite;
        width: 100%;
        font-size: 120%;
        height: auto;
        cursor: pointer;
        text-align: center;
        &:hover {
            background-color: $color-White;
            border-bottom: $border-White;
            border-top: $border-White;
            color: $color-TransparentBlack;
        }
        .fa {
            margin: 10px;
        }
    }
    &__signOut {
        position: absolute;
        bottom: 0;
    }
}

#login {
    width: 20%;
    height: 230px;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    bottom: 0;
    margin: 0 auto;
    padding-top: 20px;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    border: $border-TransparentWhite;
    background-color: $color-TransparentBlack;
    &:hover,
    &:focus {
        border: $border-White;
    }
    &__form {
        position: relative;
        margin: 10px;
        text-align: center;
    }
    input {
        padding: 8px;
        display: block;
        margin: 10px auto;
        width: 64%;
        max-width: 150px;
        background-color: $color-White;
        border: none;
        outline: none;
        color: $color-Black;
    }
    button {
        display: inline-block;
        margin: 0 auto;
        margin-top: 30px;
        cursor: pointer;
        width: 40%;
        max-width: 100px;
        padding: 5px;
        background-color: $color-White;
        border: none;
        outline: none;
        color: $color-Black;
    }
    #register__submit {
        display: none;
    }
    &__error {
        font-weight: bold;
        height: auto;
        margin-top: 20px;
        color: $color-Red;
    }
}

.fileTransfer {
    &__text {
        display: inline-block;
        height: 100px;
        width: 75px;
        background-image: url("../images/textType.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}