::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
  border: none; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%; }

html,
body {
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0; }

body {
  background: linear-gradient(135deg, #002e3a, #017796);
  background-size: cover;
  font-family: 'Nunito Sans', sans-serif;
  overflow: hidden; }

body::after {
  content: url("../../images/logo_1.png");
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 20%; }

div,
section,
li {
  box-sizing: border-box; }

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic; }

input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic; }

input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic; }

input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic; }

input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic; }

#chat {
  height: 98%;
  width: 85%;
  max-width: 400px;
  display: none;
  position: absolute;
  left: 1%;
  top: 1%; }
  #chat__allMessages {
    width: 100%;
    height: 90%;
    list-style: none;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
    #chat__allMessages:hover {
      border-color: #FFFFFF;
      overflow-y: auto; }
      #chat__allMessages:hover li {
        width: 98.5%; }
    #chat__allMessages li {
      padding: 15px;
      margin: 4px;
      min-height: 70px;
      width: 97%;
      background-color: #082C31;
      font-size: 14px;
      color: #FFFFFF;
      vertical-align: bottom; }
      #chat__allMessages li:hover {
        border-color: #FFFFFF; }
      #chat__allMessages li .chat__messageUser,
      #chat__allMessages li .chat__message {
        word-break: break-all; }
      #chat__allMessages li .chat__messageUser {
        color: #FFFFFF; }
      #chat__allMessages li .chat__message {
        color: #FFFFFF; }
      #chat__allMessages li .fileTransfer__image,
      #chat__allMessages li .fileTransfer__text {
        display: block;
        margin: 5px auto; }
      #chat__allMessages li .fileTransfer__image {
        text-align: center; }
    #chat__allMessages .chat__messageUser {
      font-size: 16px;
      font-weight: bold;
      color: black;
      cursor: pointer; }
  #chat__form {
    margin: 0; }
  #chat__userInput {
    border: none;
    margin-top: 25px;
    padding: 5px;
    border-bottom: 1.5px solid #08352E;
    background-color: transparent;
    outline: none;
    color: white;
    width: 90%; }
  #chat__submitPlaceholder {
    color: #08352E;
    font-size: 20px;
    cursor: pointer; }

#chat__users,
#offline__users {
  height: 100%;
  width: 350px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -350px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold; }
  #chat__users [data-userRole="user"],
  #offline__users [data-userRole="user"] {
    color: #FFFFFF; }
  #chat__users [data-userRole="admin"],
  #offline__users [data-userRole="admin"] {
    color: #72D0F3; }
  #chat__users [data-userRole="sys"],
  #offline__users [data-userRole="sys"] {
    color: #7B760F; }
  #chat__users [data-userRole="owner"],
  #offline__users [data-userRole="owner"] {
    color: #09D391; }
  #chat__users ul,
  #offline__users ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: justify; }
  #chat__users li,
  #offline__users li {
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    width: auto;
    height: auto;
    text-align: center;
    padding: 15px; }

#streaming {
  height: 100%;
  width: 350px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -350px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold; }
  #streaming ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right; }
  #streaming li {
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px; }
    #streaming li audio {
      width: 100%; }

#tools {
  position: fixed;
  display: none;
  height: 100%;
  width: 50px;
  right: 0;
  top: 0;
  font-size: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }
  #tools:hover {
    border-left: 1px solid #FFFFFF; }
  #tools .tools__item {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    font-size: 120%;
    height: auto;
    cursor: pointer;
    text-align: center; }
    #tools .tools__item:hover {
      background-color: #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
      border-top: 1px solid #FFFFFF;
      color: rgba(0, 0, 0, 0.5); }
    #tools .tools__item .fa {
      margin: 10px; }
  #tools__signOut {
    position: absolute;
    bottom: 0; }

#login {
  width: 25%;
  max-width: 350px;
  height: 280px;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  bottom: 0;
  margin: 0 auto;
  padding-top: 20px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); }
  #login__form {
    position: relative;
    margin: 10px;
    text-align: center; }
  #login input {
    padding: 12px;
    display: block;
    margin: 10px auto;
    width: 64%;
    border: none;
    outline: none;
    font-weight: bold;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.7); }
    #login input:focus {
      background-color: rgba(255, 255, 255, 0.9);
      color: #000000; }
  #login button {
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
    width: 64%;
    padding: 12px;
    border: none;
    outline: none;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer; }
    #login button:hover, #login button:focus {
      background-color: rgba(255, 255, 255, 0.9);
      color: #000000; }
  #login #register__submit {
    display: none; }
  #login__error {
    font-weight: bold;
    height: auto;
    margin-top: 20px;
    color: #F60E13; }

.fileTransfer__text {
  display: inline-block;
  height: 100px;
  width: 75px;
  background-image: url("../../images/textType.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
